In [4]:
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("richest musicians by year.csv")
display(data.head(55))

,Year,Musician,Nationality,Earnings (Millions),Adjusted earnings\n(in 2023 dollar)
0,1987,Bruce Springsteen,United States,$56,134
1,1988,Michael Jackson *,United States,$97,222
2,1989,Michael Jackson *,United States,$125,273
3,1990,Michael Jackson,United States,$100,207
4,1991,New Kids on the Block *,United States,$115,229
5,1992,New Kids on the Block,United States,$62,120
6,1993,Guns N' Roses,United States,$53,99
7,1994,Pink Floyd,United Kingdom,$62,113
8,1995,The Beatles,United Kingdom,$130,231
9,1996,The Beatles,United Kingdom,$130,225
10,1997,The Beatles,United Kingdom,$98,165
11,1998,The Rolling Stones,United Kingdom,$57,95
12,1999,Backstreet Boys,United States,$60,98
13,2001,The Beatles,United Kingdom,$70,107
14,2002,U2,Ireland,$69,104
15,2003,The Rolling Stones,United Kingdom,$66.50,98
16,2004,Bruce Springsteen,United States,$64,92
17,2005,Madonna,United States,$50,69
18,2006,U2,Ireland,$110,148
19,2007,The Rolling Stones,United Kingdom,$110,144
20,2008,The Police,United Kingdom,$115,145
21,2009,Madonna,United States,$110,139
22,2010,U2,Ireland,$130,162
23,2011,U2,Ireland,$195,235
24,2012,Dr. Dre,United States,$110,130
25,2013,Madonna,United States,$125,145
26,2014,Dr. Dre,United States,$620,710
27,2015,Katy Perry,United States,$135,154
28,2016,Taylor Swift,United States,$170,192
29,2017,Diddy,United States,$130,144
30,2018,U2,Ireland,$118,127
31,2019,Taylor Swift,United States,$185,196
32,2020,Kanye West,United States,$170,178
33,2021,Bruce Springsteen,United States,$435,435